<h1>Add a new session:</h1>

<form action="/session" method="post">

  <label for="Session-name-field">Session name:</label>
     <input
     type="text"
     name="session_name"
     id="first-name-field"
    />

   <label for="capacity-field">Capacity:</label>
     <input
     type ="number"
     name ="capacity"
     id ="capacity-field"
     />

    <label for="cost-field">Cost:</label>
      <input
      type ="number"
      name="cost"
      id = "cost-field"
      />

    <label for="session-time-field">Session time:</label>
      <input
      type="number"
      name="session_time"
      id ="session-time-field"
      />

  <input type="submit" value="Add new session: "/>
</form>
