<h1> Update the session details here :</h1>

<form action= '/edit_session/<%= @session.id %>' method = "post">



    <label for="session-name-field">Session name:</label>
   <input
   type="text"
   name="session_name"
   id="session-name-field"
   value="<%= @session.session_name %>"
   />

   <label for="capacity-field"> Capacity:</label>
   <input
   type="number"
   name ="capacity"
   id = "capacity-field"
   value="<%= @session.capacity %>"
   />


   <label for="cost-field">Cost:</label>
   <input
   type = "number"
   name = "cost"
   id = "cost-field"
   value = " <%=@session.cost %>"
   />
   


  </form>
