<!DOCTYPE html>

<html>
<head>
  <title>gym</title>
    <link rel="stylesheet" href="/style.css">
</head>

  <body>
    <li class="admin-options"><a href ='/index'>Home</a></li>
    <li class="admin-options"><a href ='/show_member'>Members</a></li>
    <li class="admin-options"><a href ='/show_session'>Sessions</a></li>
    <li class="admin-options"><a href ='/show_booking'>Bookings</a></li>



</body>

<%= yield %>

</html>
