<h1> Add a member</h1>

  <form   action="/new_member"  method="post" >

<p>
<label for="first-name-field">First name:</label>
 <input
 type="text"
 name="first_name"
 id="first-name-field"
 />
 </p>

<p>
 <label for ="last-name-field"> Last name:</label>
 <input
 type="text"
 name="last_name"
 id="last-name-field"
 />
 </P>

<p>
 <label for= "phone-number-field"> Phone number:</label>
  <input
  type="number"
  name="phone_number"
  id="phone-number-field"
  />
</p>

<p>
    <label for="email-field"> Email:</label>
    <input
    type = "text"
    name="email"
    id="email-field"
    />
</p>

<input  type='submit' value='Create new member'></input>


</form>
